# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
# Provide connection string to MongoDB database instance
MONGODB_URI=mongodb://127.0.0.1:27017/your-db-name

# JWT Authentication Config
# Use a strong, long, random secret key in production systems (minimum 256 bits)
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
